.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px 5px;
    gap:10px;
    max-height: 800px;
    overflow-y: auto;
}

/* ------------NewCard.css------------- */
.news-card{
    width:90%;
    height:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.19), 0 8px 20px 0 rgba(160, 160, 160, 0.19);
    padding:0px 5px;
}
.news-card video{
    height:140px;
    width:90%;
}
.news-card h1{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
.news-card p{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    text-align: justify;
}
